<!DOCTYPE html>
<html lang="en"> 
    <head>
        <!-- la balise viewport permet de définir les dimensions d'une page web (la partie visible par l'utilisateur)-->
        <meta charset="UTF-8" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Super Pixel Game!</title>
        <!-- on importe une police de Google Font API qui est un service web qui offre des polices open source utilisable pour le web design facilement-->
        <link 
            href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap"
            rel="stylesheet"
        /> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!--Le stylesheet-->
        <link rel="stylesheet" href="/assets/css/canva.css" />
    </head>
    
    <body>

        

        <% if (!logged){ %>
        
            <div class="overlay"> <a style="text-decoration:none" href="/">
                <h1 id="menu"> Super Pixel Game!</h1>
            </a> </div>
        
        <% }else{ %>

            <a id="menu" style="text-decoration:none" href="/">
                <h1 > Super Pixel Game!</h1>
            </a>
        
        <% } %>

        <h2> <%= name %> </h2>

        <div id="curseur"></div>

        <canvas id="SUPER"></canvas>
        
        <div id="time">Temps restant avant la pose d'un nouveau pixel: <p id="timer"></p></div>

        <div id="couleurs"></div>


        <script> let matrice = []</script>

        <% pixels.forEach(pixel =>{ %>
            <script> 
                matrice.push(<%= pixel.ligne %>)
                matrice.push(<%= pixel.colonne %>)
                matrice.push(<%= pixel.red %>)
                matrice.push(<%= pixel.green %>)
                matrice.push(<%= pixel.blue %>)
            </script>
        <% }); %>
        
        <script> 
            let width = <%= width %>;
            let height = <%= height %>;
            let duree = <%= duree %>;    
        </script>
        
        <script src="/assets/js/canva.js"></script>

    </body>
</html>